._31UUj {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5
}

._31UUj>li {
    display: inline-block;
    list-style-type: none;
    margin-left: 8px
}

._31UUj>li>a {
    color: #fff;
    text-decoration: none
}

@media(max-width:989px) {
    ._31UUj {
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5
    }
}

@media(max-width:540px) {
    ._31UUj>li {
        display: block
    }
}

._3MBUT {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity .4s ease;
    opacity: 1
}

._3MBUT .L1fcf {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

._3MBUT:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle at center, rgba(0, 0, 0, .6) 0, transparent 1440px);
    background-size: cover;
    opacity: .6
}

@media(min-width:990px) {
    ._3MBUT:after {
        position: absolute
    }
}

._3MBUT._1qx9U {
    opacity: 0
}

._1WU0M,
._3Kzny {
    height: 100%;
    width: 100%
}

._1WU0M {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100%
}

._2avfb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0 8px 0 0;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right
}

._2avfb>li {
    display: inline-block;
    list-style-type: none
}

._2avfb>li>a {
    color: #fff;
    text-decoration: none
}

._2avfb>li+li {
    margin-left: 8px
}

._2aHC- {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    bottom: 12px;
    width: 100%
}

._3U1K3 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr))
}

._3U1K3 ._10Enw {
    position: relative;
    opacity: 1;
    padding-bottom: 100%;
    max-height: 125px;
    background-size: cover
}

._3U1K3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    padding-top: 100%;
    opacity: .5
}

@media(max-width:989px) {
    ._3U1K3 {
        overflow: hidden
    }
}

._1BQqS {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    top: -100vh
}

._3ANPi {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    bottom: 12px;
    width: 100%
}

._2xrmW {
    opacity: 1;
    transition: opacity .2s, max-height .2s
}

._1E-lX {
    opacity: 0;
    max-height: 0;
    pointer-events: none
}

._184fh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center
}

.UNKRz {
    width: 300px
}

._3Lqfv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    color: #fff;
    font-weight: 700;
    text-decoration: none
}

._3Lqfv>svg {
    padding-right: 8px
}

._2BWHI {
    margin-top: 90px
}

._1Cbrd {
    margin-top: 12px
}

._eK3- {
    height: calc(100% - 45px)
}

._2GVO0,
._3gqwt {
    height: 100%
}

._2GVO0 {
    display: flex;
    flex-direction: column
}

._25Fsh {
    height: 45px;
    position: absolute;
    bottom: 0;
    color: #fff;
    background: #00cf35;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none
}

._7usGU,
._25Fsh {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

._7usGU {
    height: 100%;
    background-color: #00cf35;
    flex-direction: column
}

._7usGU ._2BAN8 {
    max-width: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff
}

._7usGU ._2BAN8 h1 {
    font-size: 3rem;
    line-height: 1.25
}

._7usGU ._2BAN8 h1,
._7usGU ._2BAN8 p {
    font-family: var(--font-family);
    font-weight: 400
}

._7usGU ._2BAN8 p {
    font-size: 1rem;
    line-height: 1.5
}

.FD3sp {
    flex-shrink: 1;
    height: 440px;
    overflow: initial;
    opacity: 0;
    transform: scale(.8)
}

@media(max-width:989px) {
    .FD3sp {
        height: 330px
    }
}

@media(max-width:540px) {
    .FD3sp {
        height: 220px
    }
}

.FD3sp.q8sLp {
    opacity: 1;
    transform: scale(1);
    transition: opacity .5s cubic-bezier(.165, .84, .44, 1), transform .5s cubic-bezier(.165, .84, .44, 1)
}

.FD3sp ._3AjoH {
    opacity: 0
}

.FD3sp ._3AjoH._2lMbI {
    transform: translateX(100%) translateY(90%)
}

.FD3sp ._3AjoH._2QJR9 {
    transform: translateX(-30%) translateY(-70%)
}

.FD3sp ._3AjoH._2y61A {
    transform: translateX(80%) translateY(-10%)
}

.FD3sp ._3AjoH._1xD0N {
    transform: translateX(0) translateY(-70%)
}

.FD3sp ._3AjoH._25EA0 {
    transform: translateX(-110%) translateY(90%)
}

.FD3sp ._3AjoH._1CIgt {
    transform: translateX(140%) translateY(-50%)
}

.FD3sp ._3AjoH._37BqR {
    transform: translateX(130%) translateY(0)
}

.FD3sp ._3AjoH._2wymw {
    transform: translateX(-60%) translateY(40%)
}

.FD3sp ._3AjoH._1pqdQ {
    transform: translateX(10%) translateY(-70%)
}

.FD3sp ._3AjoH.aroT4 {
    transform: translateX(-80%) translateY(10%)
}

.FD3sp ._3AjoH._2e4Rh {
    transform: translateX(-50%) translateY(90%)
}

.FD3sp ._3AjoH._2j168 {
    transform: translateX(60%) translateY(-100%)
}

.FD3sp ._3AjoH.Ff72u {
    transform: translateX(-60%) translateY(0)
}

.FD3sp ._3AjoH._2sT_D {
    transform: translateX(40%) translateY(140%)
}

.FD3sp ._3AjoH._3yjw6 {
    transform: translateX(-150%) translateY(-30%)
}

.FD3sp ._3AjoH.hWKdm {
    transform: translateX(140%) translateY(10%)
}

.FD3sp ._3AjoH._1A--E {
    transform: translateX(-125%) translateY(20%)
}

.FD3sp ._3AjoH._2gK1f {
    transform: translateX(-60%) translateY(-100%)
}

.FD3sp ._3AjoH.hGpQe {
    transform: translateX(25%) translateY(100%)
}

.FD3sp ._3AjoH._3__6Q {
    transform: translateX(120%) translateY(-15%)
}

.FD3sp ._3AjoH.R2Qz5 {
    transform: translateX(70%) translateY(-110%)
}

.FD3sp ._3AjoH._1W2UT {
    transform: translateX(-80%) translateY(-90%)
}

.FD3sp ._3AjoH.q8sLp {
    transform: translateX(0) translateY(0);
    transition: all 1.5s cubic-bezier(.165, .84, .44, 1);
    opacity: 1
}

._0LSY {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #7c5cff
}

._0LSY .crOln {
    margin-left: 140px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #fff
}

._0LSY .crOln ._2Hyk4 {
    max-width: 540px;
    text-align: left
}

._0LSY .crOln ._2Hyk4 h1 {
    font-family: var(--font-family);
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.25
}

._0LSY .crOln ._2Hyk4 p {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5
}

._0LSY .crOln ._3Dgbs {
    pointer-events: none
}

._2fL42 {
    height: 100%;
    width: 100%;
    background-color: #001935
}

._2fL42,
._2fL42 ._3ZJtF {
    display: flex;
    align-items: center;
    justify-content: center
}

._2fL42 ._3ZJtF {
    flex-direction: column;
    max-width: 380px;
    margin-left: 40px;
    margin-right: 55px;
    color: #fff
}

._2fL42 ._3ZJtF h1 {
    font-size: 3rem;
    line-height: 1.25
}

._2fL42 ._3ZJtF h1,
._2fL42 ._3ZJtF p {
    font-family: var(--font-family);
    font-weight: 400
}

._2fL42 ._3ZJtF p {
    font-size: 1rem;
    line-height: 1.5
}

.Zn-hO {
    opacity: 0;
    transform: translateY(400px)
}

.Zn-hO._17xiq {
    opacity: 1;
    transform: translateY(0);
    transition: transform .7s cubic-bezier(.165, .84, .44, 1), opacity .7s cubic-bezier(.165, .84, .44, 1)
}

._3McaH {
    max-width: 540px;
    width: 100%;
    align-self: flex-start;
    margin-top: 110px;
    margin-left: 140px
}

.dZECX {
    color: RGB(var(--white-on-dark));
    position: absolute;
    height: 100%;
    top: 0;
    left: -85px
}

._3y2PL {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding: 15px 5px;
    background: RGB(var(--white));
    width: 540px;
    min-height: 100px;
    border-radius: 3px;
    margin-bottom: 20px
}

._3y2PL ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

._3y2PL ul li {
    list-style-type: none;
    width: 100%
}

._3y2PL ul svg {
    margin-bottom: 5px
}

._3y2PL ._130kK {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 5px 0;
    flex-direction: column;
    text-align: center;
    color: RGB(var(--black));
    font-size: 16px
}

._3y2PL ._130kK ._2yXBR {
    display: flex;
    flex-direction: column;
    transition: transform 80ms linear
}

._3y2PL ._130kK:focus ._2yXBR,
._3y2PL ._130kK:hover ._2yXBR {
    transform: translate3d(0, -3px, 0)
}

._1iGID {
    color: RGB(var(--black));
    background: RGB(var(--white));
    border-radius: 3px;
    position: relative;
    width: 100%;
    max-width: 540px;
    line-height: 0;
    margin-bottom: 20px
}

@media(max-width:540px) {
    ._1iGID {
        border-radius: 0
    }
}

._1iGID ._3_pOS {
    background-color: RGB(var(--white));
    width: 100%;
    max-width: 540px;
    position: relative;
    border-radius: 3px 3px 0 0;
    align-items: center;
    justify-content: center;
    padding-left: var(--post-padding);
    padding-right: var(--post-padding);
    padding-top: var(--post-header-vertical-padding);
    margin-bottom: var(--post-header-vertical-padding);
    box-sizing: border-box
}

._1iGID ._1Zt7U,
._1iGID ._3_pOS {
    font-family: var(--font-family);
    display: flex
}

._1iGID ._1Zt7U {
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    max-width: calc(100vw - 2*var(--post-padding));
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5
}

@media(max-width:540px) {
    ._1iGID ._1Zt7U {
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5
    }
}

._1iGID ._3U9Fo {
    display: flex;
    align-items: center;
    justify-content: center
}

._1iGID ._2W6UM {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: var(--post-padding);
    padding-right: var(--post-padding);
    font-size: .875rem;
    color: rgba(var(--black), .65);
    margin-top: 12px;
    padding-bottom: 12px
}

._1iGID ._2W6UM,
._1iGID .Lmc8z {
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 1.5
}

._1iGID .Lmc8z {
    font-size: 1rem
}

._1iGID ._1xvD3 {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

._1iGID .vxgWR {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin-left: 20px;
    position: relative;
    line-height: 1
}

._1iGID .vxgWR svg {
    transform: translateZ(0)
}

._2ZjBM {
    height: 100%;
    width: 100%;
    background-color: #ff8a00
}

._2ZjBM,
._2ZjBM ._3pfof {
    display: flex;
    align-items: center;
    justify-content: center
}

._2ZjBM ._3pfof {
    max-width: 540px;
    flex-direction: column;
    text-align: center;
    color: #fff
}

._2ZjBM ._3pfof h1 {
    font-size: 3rem;
    line-height: 1.25
}

._2ZjBM ._3pfof h1,
._2ZjBM ._3pfof p {
    font-family: var(--font-family);
    font-weight: 400
}

._2ZjBM ._3pfof p {
    font-size: 1rem;
    line-height: 1.5
}

._2ZjBM ._3AvBv {
    display: grid;
    grid-template-columns: repeat(8, 67.5px [col-start]);
    grid-template-rows: repeat(2, 145px [row-start]);
    margin-bottom: 30px
}

._2ZjBM ._2iuok {
    grid-column-end: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0)
}

._2ZjBM ._2iuok._3mFQ7 {
    opacity: 1;
    transform: scale(1);
    transition: transform 1s cubic-bezier(.165, .84, .44, 1)
}

._2ZjBM ._2iuok:first-child {
    transition-delay: 0s
}

._2ZjBM ._2iuok:nth-child(2) {
    transition-delay: .1s
}

._2ZjBM ._2iuok:nth-child(3) {
    transition-delay: .2s
}

._2ZjBM ._2iuok:nth-child(4) {
    transition-delay: .3s
}

._2ZjBM ._2iuok:nth-child(5) {
    transition-delay: .4s
}

._2ZjBM ._2iuok:nth-child(6) {
    transition-delay: .5s
}

._2ZjBM ._2iuok:nth-child(7) {
    transition-delay: .6s
}

._2ZjBM .HK5_P {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

._2ZjBM .EK8rQ {
    grid-column-start: 2
}

._3OO4R {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    color: RGB(var(--white))
}

._3OO4R h1 {
    font-size: 3rem;
    line-height: 1.25
}

._3OO4R h1,
._3OO4R p {
    font-family: var(--font-family);
    font-weight: 400;
    width: 740px
}

._3OO4R p {
    font-size: 1rem;
    line-height: 1.5
}

._2SvBK {
    -webkit-scroll-snap-points-y: repeat(100vh);
    scroll-snap-points-y: repeat(100vh);
    -webkit-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll
}

._3_YtI {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1
}

._3_YtI> {
    margin-bottom: 0
}

._3_YtI li {
    list-style: none
}

._3_YtI a {
    display: block;
    padding: 5px 0
}

._3_YtI a .zwExO {
    height: 16px;
    border-radius: 50%;
    width: 16px;
    box-shadow: inset 0 0 0 3px #fff;
    opacity: .4;
    transition: opacity .2s
}

._3_YtI a .zwExO._2IO81 {
    background: #fff;
    box-shadow: none;
    opacity: 1
}

._3_YtI a:hover .zwExO {
    opacity: 1
}

._3_YtI a ._1LrCv {
    visibility: hidden;
    position: absolute
}

._12B_L {
    height: 100%;
    width: 100%;
    overflow: hidden
}

._3YpvX {
    background: RGB(var(--navy));
    color: RGB(var(--white))
}

.zZxrm {
    height: 100vh
}

.wSBkh {
    width: 274px;
    height: 56px;
    margin: 0 auto 20px
}

.wSBkh>a {
    display: block;
    width: 100%;
    height: 100%
}

._3rL67 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%
}

._1_VCq {
    margin: 0 auto 10px
}

._1_VCq,
.uH1BF {
    width: 300px;
    font-family: var(--font-family);
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1.5238
}

.uH1BF {
    margin: 0 auto 60px
}